{% load static %} <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>

    <h3>Job Postings from {{user.username}}</h3>
    <button><a href="/">Return Home</a></button>

    {% if latest_post_list %}

        <ul>
            {% for post in latest_post_list %}

            <li>
                <!-- Link to detail view of post -->
                <p>Position Title: {{ post.position_title }}</p>
                <p>Company: {{ post.company }}</p>
                <p>Job Type: {{ post.job_type }}</p>
                {% if post.is_active %}
                    <p>Status: Active</p>
                {% else %}
                    <p>Status: Not Active</p>
                {% endif %}
                <button><a href="/recruiter/post/update/{{post.id}}">Update Post</a></button>
                <button style="background-color: red"><a href="/recruiter/post/delete/{{post.id}}">Delete Post</a></button>
                <button style="background-color: green"><a href="/recruiter/post/view/{{post.id}}">Make Offer</a></button>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p> No Posts Available</p>

    {% endif %}

    <button><a href="/recruiter/post/view/all">All Posts</a></button>
    <button><a href="/recruiter/post/view/active">Active Posts</a></button>
    <button><a href="/recruiter/post/view/inactive">Inactive Posts</a></button>
    <button><a href="/recruiter/post/view/interest">Interested Posts</a></button>

</body>
</html>